.damien {color:blue !important;}
.sticker {display:visible;
        width:50px;
}

.st0{fill:url(#SVGID_1_);}
.st1{opacity:0.12;clip-path:url(#SVGID_3_);fill:#252525;}
.st2{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.st3{display:none;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.st4{fill:#FFFFFF;}
.st5{font-family:'Avenir-Medium';}
.st6{font-size:14px;}