<div>
    <svg id="target2"></svg>
    <p>
        <button class="btn btn-info" (click)="mode(0)">mode 1</button>
        <button class="btn btn-info" (click)="mode(1)">mode 2</button>
        <button class="btn btn-info" (click)="mode(2)">mode 3</button>
    </p>
    <p>
        <button class="btn btn-info" (click)="size(50)">small</button>
        <button class="btn btn-info" (click)="size(100)">big</button>
        <button class="btn btn-info" (click)="size(200)">super big</button>
    </p>
</div>